﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.gradient.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/js/uikit.min.js"></script>
</head>
<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-margin">
            <nav class="uk-navbar">
                <a href="" class="uk-navbar-brand">The Daily Bridge</a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="" class="uk-navbar-content">Форум</a>

                    </li>
                    <li>
                        <a href="" class="uk-navbar-content">О системе</a>
                    </li>
                    <li>
                        <a href="" class="uk-navbar-content">Вики</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </nav>


        </div>



        <div>
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">...</h3>
                <ul class="uk-nav uk-nav-side">...</ul>
            </div>
            @RenderBody()
        </div>




    </div>
</body>
</html>
