﻿
@using System.Security.Claims


@if (User.IsSignedIn())
{
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li>
                <a href="" class="uk-navbar-content">Описание</a>
            </li>
            <li>
                <div class="uk-navbar-content">@User.GetUserName()</div>
            </li>
            <li>
                <a class="item" asp-controller="Account" asp-action="LogOff">Выход</a>
            </li>
        </ul>
    </div>

}
else
{
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li>
                <a href="" class="uk-navbar-content">Вход</a>
            </li>

        </ul>
    </div>

}
