﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="uk-block uk-width-medium-1-3 uk-container-center ">

    <form asp-controller="Account" asp-action="Register" class="uk-form uk-form-horizontal">
        <fieldset data-uk-margin>
            <legend>Вход в систему</legend>
            <div asp-validation-summary="ValidationSummary.All" class="text error"></div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="">Почта</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="" >
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="">Пароль</label>
                <div class="uk-form-controls">
                    <input type="password" placeholder="">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="">Имя</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder=""  data-uk-tooltip="{pos:'bottom-left'}" title="Имя!">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="">Фамилия</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="">Отчество</label>
                <div class="uk-form-controls">
                    <input type="text" placeholder="">
                </div>
            </div>
            <hr />
            <button class="uk-button uk-button uk-width-1-3">Войти</button>
            <a class="uk-button uk-width-1-3">Регистрация</a>
            <br />
            <a class="uk-width-1-2">Вспомнить пароль</a>
        </fieldset>

    </form>








</div>